<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug only: lets adb queue a synthetic event to test the relay path. -->
        <receiver
            android:name="com.polaren.bridge.DebugEventReceiver"
            android:exported="true" />
    </application>
</manifest>
